<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Create new book</title>
</head>
<body>
<h3>Create book:</h3>

<p><b>New</b></p>

<form th:method="POST" th:action="@{/books}" th:object="${book}">

  <label for="name">title </label>
  <input type="text" th:field="*{name}" id="name" style="margin-bottom: 10px">
  <div style="color: #cd7200" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">name error</div>

  <br/>
  <label for="author">author </label>
  <input type="text" th:field="*{author}" id="author" style="margin-bottom: 10px">
  <div style="color: #cd7200" th:if="${#fields.hasErrors('author')}" th:errors="*{author}">author error</div>

  <br/>
  <label for="year-of-production">year of production </label>
  <input type="text" th:field="*{yearOfProduction}" id="year-of-production" style="margin-bottom: 10px">

  <br/>
  <label for="annotation">annotation </label>
  <input type="text" th:field="*{annotation}" id="annotation" style="margin-bottom: 10px">

  <br/>
  <input type="submit" value="Create!">

</form>

<p><b>Duplicate</b></p>

<form th:method="POST" th:action="@{/books/duplicate}">
  <label for="book">Select the book: </label>
  <select th:object="${book}" th:field="*{id}" id="book" >
    <option th:each="book : ${booksUnique}" th:value="${book.getId()}"
            th:text="${book.getName() + ', ' + book.getAuthor()}"></option>
  </select>
  <input type="submit" value="Duplicate!"/>
</form>

</body>
</html>